<header>
    <h1>
        <span>
            <span style="--i: 1">w</span>
            <span style="--i: 2">m</span>
        </span>
        <span class="color-red">
            <span style="--i: 3">.</span>
            <span style="--i: 4">d</span>
            <span style="--i: 5">e</span>
            <span style="--i: 6">s</span>
            <span style="--i: 7">i</span>
            <span style="--i: 8">g</span>
            <span style="--i: 9">n</span>
        </span>
    </h1>
</header>
