<section id="description">
    <h2 class="">I’m a developer and designer who is on the edge of innovation when the subject is creating cool websites</h2>

    <div class="marquee">
        <span>
            WebGL - Javascript - React - Webflow - Framer - Three JS -
        </span>
        <span>
            WebGL - Javascript - React - Webflow - Framer - Three JS -
        </span>
        <span>
            WebGL - Javascript - React - Webflow - Framer - Three JS -
        </span>
    </div>
</section>
