<section id="works">
    <ul>
        <li>
            EIKON LABS
            <img src="./assets/image 4.jpg" alt="">
        </li>
        <li>
            LOVE IGNITES PEACE
            <img src="./assets/image 4.jpg" alt="">
        </li>
        <li>
            SMARTMENTOR
            <img src="./assets/image 4.jpg" alt="">
        </li>
        <li>
            CIBERCAFÉ
            <img src="./assets/image 4.jpg" alt="">
        </li>
    </ul>
</section>
