<section id="about">
    <div>
        <img src="/me-in-street.jpg" alt="">
    </div>

    <div>
        <h2>Hi, I'm Walter</h2>

        <p>
            I’m a web developer and designer based on Brazil.
        </p>
        
        <p>
            I started to develop at my 14’s with RPG Maker then later around 2017 I got into Web, at first with PHP and Wordpress <br>
            Since 2021 I started to work with Webflow and learn a lot more about design, I strive to build websites with a bit of art in them. <br>
            Today I’m looking for a full position at an agency that values creative coding where I can learn, grow and specialize in this niche. <br>
        </p>    
        <a href="#">view my resume -</a>
    </div>

</section>

<style>
    section {
        display: flex;
        min-height: 200vh;
        justify-content: center;
        align-items: center;
        max-width: 80vw;
        gap: 2rem;
        margin: auto;
    }

    h2 {
        font-size: 4vw;
    }

    p {
        font-size: 2vw;
        max-width: 1200px;
    }

    img {
        max-width: 600px;
    }
</style>