<div class="cursor-area">
    <div class="dot-container">
        <div class="dot">
            <span>VIEW SITE</span>
        </div>
    </div>
</div>

<style lang="scss">
    .cursor-area{
        height: 100vh;
        width: 100vw;
        position: fixed;
        pointer-events: none;

        .dot-container {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            .dot {
                background-color: var(--main-color);
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                display: flex;
                justify-items: center;
                align-items: center;
                text-align: center;
                color: transparent;

            }

            .dot.open {
                width: 10rem;
                height: 10rem;

                span {
                    width: 100%;
                }
            }
        }
    }
</style>


<script>
    import { gsap } from 'gsap'

    window.addEventListener("mousemove", e => {        
        gsap.to('.dot-container', {
            x: e.clientX,
            y: e.clientY,
        })        
    })
</script>