<footer>
    <h2>Contact</h2>
    <ul>
        <li><a href="#">Github</a></li>
        <li><a href="#">Dribble</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Twitter</a></li>
    </ul>
</footer>