---

const title = "wm.design"
const description = "Creative Developer and Designer"
const keywords = `
design,
development,
creative,
freelancer,
website,
html,
css,
javascript,
webflow,
framer,
gsap,
react
`

---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="./favicon.ico?" type="image/x-icon">
<title>{title}</title>

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap" rel="stylesheet">    

<!-- Stylesheets -->
<link rel="stylesheet" href="./styles/main.css">

<!-- JS Helpers -->
<script src="https://unpkg.com/split-type"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
<script src="https://unpkg.com/alpinejs" defer></script>

<!-- SEO tags -->
<meta name="description" content={description}>
<meta name="keywords" content={keywords}>


<!-- facebook tags -->
<meta property="og:site_name" content="wm.design">
<meta property="og:title" content="wm.design" />
<meta property="og:type" content="website" />

<!-- twitter tags -->
<meta name="twitter:title" content="wm.design">
<meta name="twitter:description" content=" Creative developer and designer">