---
const skills = ['Webflow', "Framer", "GSAP", "ThreeJS", "Javascript", "React", "HTML", "CSS", "Figma"]
---

<div class="marquee">
    -
    <span>
        {skills.join(' - ')}
    </span>
    -
    <span>
        {skills.join(' - ')}
    </span>
    -
    <span>
        {skills.join(' - ')}
    </span>
    -
    <span>
        {skills.join(' - ')}
    </span>
    -
    <span>
        {skills.join(' - ')}
    </span>
    -
    <span>
        {skills.join(' - ')}
    </span>
    -
    <span>
        {skills.join(' - ')}
    </span>
</div>

<script>
    import {gsap} from 'gsap'
    import SplitType from 'split-type'
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    
    new SplitType('.subtitle p')    

    const tl = gsap.timeline({repeat: -1})
    
    tl.to('.marquee > *', {
        xPercent: -100,
        ease: 'none',
        duration: 20,
        overwrite: true
    })

    gsap.to('.marquee', {
        scrollTrigger: {
            scrub: true,
            pin: true,
            start: 'top top',
            onUpdate: self => {
                let skewAmount = self.getVelocity() / 300
                let scaleAmount = 1 + Math.abs(self.getVelocity() / 20000)

                gsap.to('.marquee > *', {
                    skewX: skewAmount,
                    overwrite: true,
                    ease: "back.out(1.7)"
                })
            }

        },
        xPercent: -100
    })

</script>

<style lang="scss">
    .marquee {
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        top: 80vh;
        font-size: 5rem;
        color: var(--black);
        z-index: -1000000;
        text-wrap: nowrap;
        max-width: 100vw;
        background-color: var(--main-color);

        * {
            background-color: var(--main-color);
        }
    }
</style>