---
import Logo from "./Logo.astro";
---

<nav>
    <Logo/>
    <div class="hide-mobile">
        <div class="mask">
            <span>Creative Developer</span>
        </div>
        <div class="mask">
            <span>Front End Designer</span>
        </div>
        <div class="mask">
            <span>UX/UI Designer</span>
        </div>
    </div>
    <div class="menu">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
        <div class="ball"></div>
    </div>
    <ul class="menu-items">
        <div class="mask">
            <li><a href="#work">Work</a></li>
        </div>
        <div class="mask">
            <li><a href="#about">About</a></li>             
        </div>
        <div class="mask">
            <li><a href="#contact">Contact</a></li>
        </div>
    </ul>
    <ul class="hide-mobile">
        <div class="mask">
            <li><a href="#work">Work</a></li>
        </div>
        <div class="mask">
            <li><a href="#about">About</a></li>             
        </div>
        <div class="mask">
            <li><a href="#contact">Contact</a></li>
        </div>
    </ul>
</nav>

<script>
    import { gsap } from 'gsap'
    import SplitType from 'split-type'

    new SplitType('.menu-items .mask li a')

    const tl = gsap.timeline({paused: true, duration: 0.2})
    tl.to('.menu', {gap: 0, duration: 0.2})
        .to('.menu > *', {position: 'absolute'})
        .to('.menu .line-1', {rotate: '45deg'}, '<')
        .to('.menu .line-2', {opacity: '0', width: '0'}, '<')
        .to('.menu .line-3', {rotate: '-45deg'}, '<')
        .to('.menu .ball', {scale: 50, opacity: 1}, '<')
        .to('.menu-items', {x: 0, ease: "back.out(1.7)"}, '<')
        .to('.menu-items .mask', {
            x: 0, 
            ease: "back.out(1.7)",
            stagger: 0.2
        }, '<')
        .to('.menu-items .char', {
            y: 0, 
            stagger: 0.05,
            //duration: 0.1
        }, '<')
   
    const menu = document.querySelector('.menu')
    let active = false

    menu.addEventListener('click', () => {
        if(active){
            tl.reverse()
            active = false
        } else {
            tl.play()
            active = true
        }
    })
    
</script>

<style is:global>
    .menu-items .char {
        transform: translateY(100%);
    }
</style>

<style lang="scss">    
    .mask {
        overflow: hidden;

        > * {
            transform: translateY(100%);
        }
    }

    .menu {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 1rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        align-content: center;
        z-index: 9999;
        cursor: pointer;

        .ball {
            background-color: var(--main-color);
            width: 12vw;
            height: 12vw;
            position: absolute;
            border-radius: 100%;
            z-index: -999999;
            opacity: 0;
        }

        > * {
            background-color: var(--white);
            height: 2px;
            width: 10vw;
            align-self: center;
        }
    }
    
    nav {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-transform: uppercase;
        position: fixed;
        width: 100%;
        z-index: 9999999999;
        overflow: hidden;
        gap: 2rem;
        
        div {
            display: flex;
            flex-direction: column;
        }
        
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
        }
    }

    @media (min-width: 640px) {
        .menu {
            display: none !important;
        }

        .menu-items {
            display: flex;
        }
    }

    @media (max-width: 640px) {

        nav {
            flex-wrap: nowrap;
            height: 100vh;
            justify-items: start;
            align-items: start;
        }

        .menu {
        }

        .hide-mobile {
            display: none !important;
        }

        .menu-items {
            flex-direction: column;
            font-size: 16vw;
            position: absolute;
            right: 0;
            top: 0;
            height: 100vh;
            width: 150vw;
            align-items: end;
            padding-top: 7rem;
            padding-right: 2rem;
            transform: translateX(100%);
            z-index: 9999;
            pointer-events: none;
        }

        .menu-items .mask {
            border-bottom: 1px solid var(--white);
            transform: translateX(150%);
        }

        .menu-items .mask li{
            transform: translateY(0);
            text-align: left;
            width: 100%;
            pointer-events: auto;
        }
    }
    
    
</style>