<nav>
    <div class="mask" style="--i:10">
        <p>WALTER MELO</p>
    </div>

    <div>
        <div class="mask" style="--i:12">
            <span>
                CREATIVE DEVELOPER
            </span>
        </div>
        <div class="mask" style="--i:13">
            <span>
                FRONT END DESIGNER
            </span>
        </div>
        <div class="mask" style="--i:14">
            <span>
                UX/UI ENGINEER
            </span>
        </div>
    </div>
    <div>
        
    </div>
    <ul>
        <li>
            <div class="mask" style="--i:16">
                <div>
                    <a href="/work.html">WORK</a>
                </div>
            </div>
        </li>
        <li>
            <div class="mask" style="--i:16">
                <div>
                    <a href="#">ABOUT</a>
                </div>
            </div>
        </li>
        <li>
            <div class="mask" style="--i:16">
                <p>
                    <a href="#">CONTACT</a>
                </p>
            </div>
        </li>
    </ul>
</nav>