<section class="subtitle">
    <div class="subtitle-area">
        <p>I’m a developer and designer who likes to experiment with new technologies and build cool things with them.</p>
        <div class="red-circle"></div>
    </div>
</section>

<script>
    import {gsap} from 'gsap'
    import SplitType from 'split-type'
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    
    new SplitType('.subtitle p')
    
    
    gsap.to('.marquee', {
        scrollTrigger: {
            scrub: true,
            pin: true,
            start: 'top top',
        },
        xPercent: -100
    })

    
    gsap.to('.subtitle .char', {
        scrollTrigger: {
            trigger: '.subtitle',
            scrub: true,
            start: 'top',
            end: 'center'
        },

        opacity: 1,
        stagger: 0.1,
        color: 'var(--white)',
        duration: 1
    })

    const tl = gsap.timeline()

    tl.to('.subtitle .red-circle', {
        scrollTrigger: {
            trigger: '.subtitle',
            scrub: true,
            start: 'top',
            end: 'bottom'
        },

        opacity: 1,
        scale: 300
    }).to('.subtitle p', {
        scrollTrigger: {
            trigger: '.subtitle',
            scrub: true,
            start: 'center',
            end: 'bottom'
        },
        scale: 10
    }).to('.subtitle', {
        scrollTrigger: {
            trigger: '.subtitle',
            scrub: true,
            start: 'center',
            end: 'bottom'
        },
        opacity: 0
    })


    window.addEventListener('mousemove', e => {
        tl.to('.subtitle .red-circle', {
            //xPercent: e.clientX - window.innerHeight,
            //yPercent: e.clientY
        })
    })


</script>

<style is:global>
    .subtitle .char {
        opacity: 0.5;
    }
</style>

<style>
    section {
        min-height: 300vh;
        position: relative;
    }

    .red-circle {
        background-color: var(--main-color);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        position: absolute;
        z-index: -999;
        transform: scale(0.01);
    }

    .subtitle-area {
        position: sticky;
        top: 20vh;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    p {
        font-size: max(4vw, 2.5rem);
        width: 80vw;
        text-align: center;
        color: var(--black);
        text-shadow:
        -1px -1px 0 var(--white),  
        1px -1px 0 var(--white),
        -1px 1px 0 var(--white),
        1px 1px 0 var(--white);
        
    }
    
    div {
        font-size: 2vw;
    }
</style>