---

const works = [
{
    title: "Eikon Labs",
    img: "eikon.png",
    link: "https://www.eikonlabs.com/",
    tags: ['Webflow', 'CSS', 'Design']
},
{
    title: "Love Ignites Peace",
    img: "loveignites.jpg",
    link: "https://www.loveignitespeace.com/",
    tags: ['Webflow', 'Alpine', 'Javascript']
},
{
    title: "Smartmentor",
    img: "smartmentor.png",
    link: "https://smartmentor.co/",
    tags: ['Framer', 'UX Design', 'Web Design']
},
{
    title: "Xtramath",
    img: "xtramath.jpg",
    link: "https://xtramath.webflow.io/",
    tags: ['Webflow', 'Information Architecture', 'Javascript']
}
]

---

<section id="work">
    <h2 class="flipped-header">WORK - WORK - WORK - WORK - WORK - WORK - </h2>
    <div class="works">
        <div class="work-item">
            <img src="./screenshots/eikon.png" alt="">
            <h3>Eikon Labs</h3>
            <div class="tags">
                <span>Webflow</span>
                <span>Design</span>
                <span>Javascript</span>
            </div>        
        </div>
        <div class="work-item">
            <img src="./screenshots/eikon.png" alt="">
            <h3>Eikon Labs</h3>
            <div class="tags">
                <span>Webflow</span>
                <span>Design</span>
                <span>Javascript</span>
            </div>        
        </div>
        <div class="work-item">
            <img src="./screenshots/eikon.png" alt="">
            <h3>Eikon Labs</h3>
            <div class="tags">
                <span>Webflow</span>
                <span>Design</span>
                <span>Javascript</span>
            </div>        
        </div>
        <div class="work-item">
            <img src="./screenshots/eikon.png" alt="">
            <h3>Eikon Labs</h3>
            <div class="tags">
                <span>Webflow</span>
                <span>Design</span>
                <span>Javascript</span>
            </div>        
        </div>
    </div>
</section>

<style lang="scss">


    .flipped-header {
        writing-mode: vertical-lr;
        font-size: max(10vw, 3rem);
        text-wrap: nowrap;
        font-weight: 700;
        color: var(--black);
        text-shadow:
            -1px -1px 0 var(--white),  
            1px -1px 0 var(--white),
            -1px 1px 0 var(--white),
            1px 1px 0 var(--white);

    }

    .works {
        display: flex;
        height: 100vh;
        position: sticky;
        align-items: center;
        top: 0;
        gap: 10vw;
        transform: translateX(30vw);
    }

    .tags {
        color: var(--main-color);
        display: flex;
        gap: 2rem;
        text-transform: uppercase;
    }

    img {
        width: 40vw;
    }

    h3 {
        font-size: 4vw;
        text-transform: uppercase;
        font-weight: 700;
    }

    #work {
        max-width: 80vw;
        margin: auto;
        display: flex;
    }
</style>

<script>
    import { gsap } from 'gsap'
    import SplitType from 'split-type'
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);   

    const tl = gsap.timeline()

    tl.to('.works', {
        scrollTrigger: {
            trigger: '#work',
            scrub: true,
            start: 'top'
        },
        xPercent: -100
    })

</script>

    
    