---
import Head from '../components/Head.astro'
import Navigation from '../components/Navigation.astro'
import Scripts from '../components/Scripts.astro'
import Cursor from '../components/Cursor.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <Head/>
</head>
<body x-data x-resize data-barba="wrapper">
    <Cursor/>
	<Navigation/>
    <main data-barba="container" data-barba-namespace="home">
        <slot/>
    </main>
    <Scripts/>
</body>
</html>