:root {
    --main-color: #D92848;
    --white: #FDFBFE;
    --black: #100817;
    --ease-curve: cubic-bezier(.16,.23,.54,.92);
    --mouse-X: 600;
    --mouse-Y: 600;
    --mouse-in: none;
}

/*
@media (prefers-color-scheme: light) {
    :root{
        --white: #100817;
        --black: #FDFBFE;    
    }
}
*/

// special CSS props

// intersect (happens when element is visible)

[intersect=false] {
    opacity: 0;
}

[intersect=true] {
    transition-duration: 1s;
    opacity: 1;
}

// div masking wraps the element inside a div with overflow hidden. to facilitate some effects

[stagger] {
    font-size: 3rem;

    * {
        opacity: 0;
        animation: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) reveal-down;
        animation-delay: calc(var(--stagger) * 0.05s);
        animation-fill-mode: forwards;
    }
}

.scroll-test {
    background-color: #FDFBFE;
    color: red;
    height: 50vh;
    width: 50vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s linear;
}

a {
    color: var(--white);
    text-decoration: none;
    span {
        background-color: red;
        height: 10px;
        width: 10px;
    }

    &:hover {
        color: var(--main-color);
    }
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
}

html {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Bricolage Grotesque', sans-serif;
    background-image: url("./Meliuk-liuk.svg");
    background-position: right top;
    background-repeat: no-repeat;
}


.counter-test {
    > * {
        counter-increment: count;
        --counter: 20;

        &::before {
            content: counter(count);
            --counter: counter(count);

            background-color: rgb(calc(var(--counter) * 100), 0, 30);
            font-size: 3rem;
        }
    } 
}

@keyframes stagger-test {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


.mask {
    overflow: hidden;

    > * {
        display: block;
        animation: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) reveal-down;
        animation-delay: calc(var(--i) * 0.1s);
        animation-fill-mode: forwards;
        transform: translateY(200%);    
    }
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;



    ul {
        flex-direction: row;
    }

}    

header {
    h1 {
        font-weight: 400;
        font-size: calc(95vw / 4.5);
        display: flex;
        min-height: 100vh;
        //animation: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s soft-bounce;

        span {
            display: flex;
            overflow: hidden;
            height: 1.8ch;

            span {
                opacity: 0;
                transform: translateY(200%);
                animation: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) reveal-down;
                animation-delay: calc(var(--i) * 0.1s);
                animation-fill-mode: forwards;
            }

        }
        .color-red {
            color: var(--main-color);
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 4rem;

    h2 {
        font-size: 4rem;
        max-width: 30ch;
        text-align: center;
    }

    .marquee {
        display: flex;
    }
    
    .marquee span {
        font-size: 5rem;
        text-wrap: nowrap;
        color: var(--black);
        text-shadow: -1px -1px 0 var(--main-color), 1px -1px 0 var(--main-color), -1px 1px 0 var(--main-color), 1px 1px 0 var(--main-color);
        animation: 10s linear 1s infinite running marquee;
    }    
}

#works {
    ul {
        font-weight: 800;
        font-size: 8rem;
        text-align: left;
        --animation-image: 0.2s ease-in fade-out;
        color: var(--black);
        text-shadow: -1px -1px 0 var(--white), 1px -1px 0 var(--white), -1px 1px 0 var(--white), 1px 1px 0 var(--white);

        :hover {
            text-shadow: 0 0 1rem var(--main-color);
            color: var(--white);
            --animation-image: 0.2s ease-in fade-in;
            cursor: pointer;
        }

        li {
            position: relative;
        }

        img {
            opacity: 0;
            position: absolute;
            top: -15%;
            right: 25%;
            width: 50rem;
            z-index: -1;
            animation: var(--animation-image);
            animation-fill-mode: forwards;
        }

        :nth-child(odd){
            text-align: end;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes reveal-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}


@keyframes reveal-down {
    from {
        transform: translateY(100%);
        opacity: 0;
        color: transparent;
    }
    to {
        transform: translateY(0);
        transform: skewX(0deg);
        opacity: 1;
    }
}


@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes soft-bounce {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    60% {
        transform: translateX(-5%);
        transform: skewX(10deg);
        opacity: 0.75;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


#effect-canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(120deg);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#cursor {
    display: var(--mouse-in);
    transition: all 0s ease-in;
    position: absolute;
    top: calc(var(--mouse-Y) * 1px - 0.5rem);
    left: calc(var(--mouse-X) * 1px - 0.5rem);
    background-color: var(--main-color);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    z-index: -1;
    pointer-events: none;
}

